In [ ]:
import numpy as np
import pandas as pd
from scipy.stats import shapiro, probplot
import pandas as pd
import scipy.stats as stats
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv ('Full_Data_Reviews.csv').drop ('Unnamed: 0', axis=1)
df

,Content_cleaned,Word_Count,language_encoded,Review_Weeks_Ago,Review_Months_Ago,Review_Years_Ago,Rating_Score,label_encoded
0,"nhân viên không thuyết mình trên xe, mà lại đi...",45,1,295,68,5,1,0
1,đây là khu vui chơi mới nên tất cả còn tô...,32,1,52,12,1,4,1
2,rất nhiều trò chơi thú vị. nhưng phần tham qua...,23,1,52,12,1,5,1
3,bình thường thôi. trẻ em thì thích,7,1,52,12,1,4,1
4,"xe buýt sạch sẽ, tài xế chạy an toàn. tuy nhiê...",41,1,147,34,2,5,1
...,...,...,...,...,...,...,...,...
10189,had a really great tour with kevin it was real...,19,0,143,33,2,4,2
10190,good tour with lovely people there were four g...,109,0,95,22,1,4,2
10191,our tour guide alex was fantastic he was very ...,25,0,21,5,0,5,2
10192,we had a great tour guided by lucy very inform...,30,0,300,69,5,5,2
10193,had a great time our guide fine was very knowl...,20,0,108,25,2,5,2